.pagesBg {
  background-color: #0c1713;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
}
.branchSelectionWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .branchSelectionBox {
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
}

//  control
.billSwitch {
  position: fixed;
  left: 0;
}
.addIcon {
  position: fixed;
  right: 0;
  bottom: 100px;
  margin: 20px;
  cursor: pointer;
  background: #1890ff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.printIcon {
  position: fixed;
  right: 0;
  bottom: 30px;
  margin: 20px;
  cursor: pointer;
  background: #cfd4d8;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #616161;
  font-size: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

// Bill Page
// blanc

.billPageWrapper {
  height: "100%";
  display: flex;
  justify-content: center;
}

.invoiceWrapperBlanc {
  width: 21cm !important;
  height: 29.7cm !important;
  margin: 20px 0;
  background: #fff;
  justify-self: center;
  background-image: url("./assets/blanc.png");
  background-size: cover;
  position: relative;
  zoom: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.invoiceWrapperBill {
  width: 21cm !important;
  height: 29.7cm !important;
  margin: 20px 0;
  background: #fff;
  justify-self: center;
  // background-image: url("./assets/cover.png");
  background-image: url("./assets/blanc.png");
  background-size: cover;
  position: relative;
  zoom: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.textNote {
  position: absolute;
  font-weight: normal;
  font-size: 16px;
  top: 70px;
  right: 75px;
  width: 330px;
  height: 125px !important;
  direction: rtl;
}
.textTitle {
  font-size: 26px;
  font-weight: bolder !important;
  line-height: normal !important;
  position: absolute;
  top: 220px;
  left: 290px;
  z-index: 999;
  width: 350px;
  height: 75px;
  max-width: 350px;
  max-height: 100px;
  text-align: center;
}
.textBody {
  position: absolute;
  font-weight: normal;
  font-size: 16px;
  top: 330px;
  left: 70px;
  width: 660px;
  height: 500px;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
}
.footerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 14px;
  color: #14c4ff;
  bottom: 60px;
  left: 40px;
  width: 700px;
  height: 100px;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
  span {
    font-weight: 900;
    color: #12acde;
  }
  &:nth-child(2) {
    padding: 20px;
  }
  p {
    margin: 10px 0;
  }
}

//  Bill

.invoiceHeaderBg {
  right: 0;
  top: 130px;
  height: 155px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 480px;
}

.billInvoiceTitle {
  font-size: 70px;
  position: absolute;
  right: 40px;
  top: 50px;
}
.invoiceHeaderInputUid {
  display: flex;
  align-items: center;
  font-weight: bold !important;
  font-size: 20px !important;
  position: absolute;
  z-index: 999;
  top: 140px;
  right: 0;
  width: 460px;
  p {
    font-weight: 400;
    margin-right: 20px;
    right: 0;
  }
}
.invoiceHeaderCustomerInput {
  display: flex;
  align-items: flex-start;
  font-weight: bold !important;
  position: absolute;
  z-index: 999;
  top: 180px;
  right: 0;
  width: 460px;
  .texarea {
    margin-top: -5;
    padding: 0;
    border: 1px solid #000;
  }
  p {
    font-weight: normal;
    margin-right: 115px;
    right: 0;
  }
}
.invoiceHeaderCustomerDate {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  z-index: 999;
  top: 235px;
  right: 0;
  width: 460px;

  p {
    font-weight: normal;
    margin-right: 50px;
    right: 0;
    font-size: 20px !important;
  }
}
// Bill Table
.billTable {
  position: absolute;
  top: 320px;
  margin: 0 40px;
  width: 700px;
  border: 1px solid #eee;
  height: 330px;
  thead {
    background: rgba(0, 0, 0, 0.3);
  }
  th {
    border-right: 0.5px solid #eee;
    border-left: 0.5px solid #eee;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
    font-weight: 400;
    height: 30px;
    font-size: 100%;
  }
  td {
    border-right: 0.5px solid #eee;
    border-left: 0.5px solid #eee;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
    padding: 5px;
  }
}

.billTableItems {
  position: absolute;
  top: 350px;
  margin: 16px 50px;
  font-size: 26px;
  display: grid;

  width: 700px;
}

.billItem {
  display: grid;
  grid-template-columns: 100px 240px 60px 120px 120px;
  align-items: start;
  gap: 10px;
}

.billItemQte,
.billItemDesc,
.billItemUnit,
.billItemPrice,
.billItemAmount {
  position: relative;
  width: 100%;
}

.billItemPrice {
  margin-left: 30px;
  width: 90px;
}

.billItemAmount {
  margin-left: 38px;
  width: 90px;
}

.billItemQte {
  width: 57%;
  margin-left: 40px;
}

.billItemUnit {
  width: 57%;
  margin-left: 25px;
}

.billItemDesc {
  textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    font-family: inherit;
    background: transparent;
    overflow: hidden;
  }
}
// bill total & info
.tableFooterMoreInfo {
  position: absolute;
  top: 660px;
  left: 40px;
  width: 350px;
  height: 130px;
  border: 2px solid #eee;
  background: rgba(255, 255, 255, 0.6);
}
.tableFooterTotals {
  position: absolute;
  top: 660px;
  right: 53px;
  padding: 10px;
  height: auto;
  width: 320px;
  border: 2px solid #eee;
  background: rgba(255, 255, 255, 0.6);
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.tableFooterRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.tableFooterTitle {
  color: #a29e9e;
  font-size: 18px;
  font-weight: bold;
}

.tableFooterValue {
  text-align: right;

  // Add these styles to align TextField to the right
  display: flex;
  justify-content: flex-end;

  // Style for the TextField inside tableFooterValue
  & > div {
    width: 100%;
  }

  input {
    text-align: right;
    height: 30px;
    font-size: 18px;
  }
}

.totalTtc {
  font-size: 22px;
  font-weight: bold;
  color: black;
}
// .tableFooterTotalRow {
//   position: absolute;
//   top: 660px;
//   right: 40px;
//   width: 350px;
//   border: 2px solid #eee;
//   font-size: 26px;
// }
// .tableFooterDiscountRow {
//   position: absolute;
//   top: 700px;
//   right: 40px;
//   width: 350px;
//   border: 2px solid #eee;
//   font-size: 26px;
// }

// .tableFooterTotalToPay {
//   position: absolute;
//   top: 730px;
//   right: 40px;
//   width: 350px;
//   border: 2px solid #eee;
//   font-size: 26px;
// }

.paymentDetails {
  position: absolute;
  top: 820px;
  left: 40px;
  width: 680px;
  height: 120px;
  background-color: rgba(118, 118, 118, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 15px;
}
.paymentDetailsInfoTable {
  text-align: left;
  p {
    font-weight: 400;
  }
  tr {
    th {
      align-items: left;
      padding: 0px 10px;
    }
  }
}

.footer {
  position: absolute;
  bottom: 5px;
  right: 50px;
  height: 50px;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  p {
    font-size: 22px;
  }
}
/* Styles for printing */
@media print {
  .pagesBg {
    background-color: #fff;
  }
  .billSwitch {
    display: none;
  }

  .invoiceWrapperBlanc,
  .invoiceWrapperBill {
    margin: 0;
    box-shadow: none;
  }
  .currencySelect {
    display: none;
  }
  .billItemPrice {
    margin-left: 0px;
  }

  .billItemAmount {
    margin-left: 0px;
  }
}
